@import "zen-grids";

@mixin botao($width, $height, $background, $alinhamentoHorizontal, $alinhamentoVertical){
	width: $width;
	height: $height;
	background: $background;
	text-align: $alinhamentoHorizontal;
	line-height: $alinhamentoVertical;
}

*{
	margin: 0;
	padding: 0;
	border: 0;
}

header{
	@include zen-grid-item(12, 1);
	height: 45px;
	background: #9ccc45;

	h1{
		@include zen-grid-item(2, 3);
		background: url(images/idei4_logo.jpg) no-repeat 0px -22px;
		text-indent: -9000em;
		height: 45px;
	}

	nav{
		@include zen-grid-item(6, 6);

		ul{
			list-style: none;

			li{
				float: left;
				margin: 0 10px;
				line-height: 45px;

				a{
					color: #fff;
					text-decoration: none;
					text-transform: capitalize;
				}
			}
		}
	}
}
#content{
	@include zen-grid-container;
	margin: 0 auto;
	clear: both;

	#home{
		@include zen-grid-item(12, 1);
		height: 485px;
		background: url(images/globo.jpg) no-repeat 0 0;

		p{
			color: #fff;
			font-size: 32px;
			text-align: center;
			margin-top: 115px;
			font-family: 'Lobster', cursive;

			&.todas-maiusculas{
				margin-top: 20px;
				font-family: 'Play', sans-serif;
				font-size: 72px;
			}

			&.button{
				margin: 40px auto;
				width: 240px;
				

				a{
					font-family: 'Play', sans-serif;
					font-weight: bold;
					color: #fff;
					text-decoration: none;
					display: block;
					width: 240px;
					height: 50px;
					border: 2px solid #fff;
					line-height: 50px;
				}
			}
		}
	}
	#services{

		#desenvolvimento-de-sites{
			@include zen-grid-item(12, 1);
			clear: both;
			margin-top: 100px;
			margin-bottom: 50px;
			font-family: 'Play', sans-serif;

			.texto{
				@include zen-grid-item(4, 3);

				h1{
					font-size: 31px;
					margin-bottom: 20px;
				}
				p{
					font-size: 12px;
				}
			}

			.imagem{
				@include zen-grid-item(3, 8);
			}

			.button{
				@include botao(310px, 45px, #9ccc45, center, 45px);
				
				a{
					color: #fff;
					font-weight: bold;
					font-size: 20px;
					text-decoration: none;
					display: block;
				}
			}
		}

		#identidade-visual{
			@include zen-grid-item(12,1);
			clear: both;
			padding-top: 100px;
			padding-bottom: 50px;
			font-family: 'Play', sans-serif;
			background: #fafafa;

			.texto{
				@include zen-grid-item(4, 8);

				h1{
					font-size: 31px;
					margin-bottom: 20px;
				}
				p{
					font-size: 12px;
				}
			}

			.imagem{
				@include zen-grid-item(3, 4);
			}

			.button{
				@include botao(310px, 45px, #9ccc45, center, 45px);

				a{
					color: #fff;
					font-weight: bold;
					font-size: 20px;
					text-decoration: none;
					display: block;
				}
			}
		}

		.outros-servicos{
			@include zen-grid-item(8, 3);
			clear: both;
			font-family: 'Play', sans-serif;

			.cartao, .hospedagem{
				@include zen-grid-item(3, 1);
			}
			.material, .consultoria{
				@include zen-grid-item(3, 3, right);
			}
			.hospedagem{
				clear: both;
			}
			.cartao .titulo{
				line-height: 50px;
			}

			ul{
				list-style: none;

				.titulo{
					font-size: 18px;
					display: block;
					margin: 30px 0 10px;
					font-weight: bold;
					height: 50px;
				}
			}
		}

		.orcamento{
			@include zen-grid-item(12, 1);
			clear: both;
			margin-top: 100px;
			margin-bottom: 50px;
			font-family: 'Play', sans-serif;

			h2{
				text-align: center;
				font-size: 36px;
			}

			.info{
				@include zen-grid-item(4, 3);

				ul{
					list-style: none;
					margin-top: 20px;

					li{
						a{
							padding-left: 25px;
							text-decoration: none;
							color: #000;
						}

						&.email{
							background: url(images/icone-email.png) no-repeat 0 5px;
						}
						&.face{
							background: url(images/icone-facebook.png) no-repeat 0 5px;
							padding-left: 25px;
							height: 25px;
							line-height: 25px;
						}
					}
				}
			}

			.formulario{
				@include zen-grid-item(4, 8);

				input, textarea{
					border: 1px solid #000;
					padding: 5px;
				}

				p{
					margin-bottom: 15px;

					label{
						display: block;
					}

					textarea{
						width: 225px;
						height: 100px;
					}
				}
			}

		}
	}

	.clientes{
		clear: both;
		@include zen-grid-item(12, 1);
		font-family: 'Play', sans-serif;

		h2{
			text-align: center;
			font-size: 36px;
		}
	}

	#contatos{
		clear: both;
		@include zen-grid-item(12, 1);
		font-family: 'Play', sans-serif;

		h2{
			text-align: center;
			font-size: 36px;
		}

	}
}
