@import "zen-grids";

*{
	margin: 0;
	padding: 0;
	border: 0;
}

header{
	@include zen-grid-item(12, 1);
	height: 45px;
	background: #9ccc45;

	h1{
		@include zen-grid-item(2, 3);
		background: url(images/idei4_logo.jpg) no-repeat 0px -22px;
		text-indent: -9000em;
		height: 45px;
	}

	nav{
		@include zen-grid-item(6, 6);

		ul{
			list-style: none;

			li{
				float: left;
				margin: 0 10px;
				line-height: 45px;

				a{
					color: #fff;
					text-decoration: none;
					text-transform: capitalize;
				}
			}
		}
	}
}
#content{
	@include zen-grid-container;
	margin: 0 auto;
	clear: both;

	#home{
		@include zen-grid-item(12, 1);
		height: 485px;
		background: url(images/globo.jpg) no-repeat 0 0;

		p{
			color: #fff;
			font-size: 32px;
			text-align: center;
			margin-top: 115px;
			font-family: 'Lobster', cursive;

			&.todas-maiusculas{
				margin-top: 20px;
				font-family: 'Play', sans-serif;
				font-size: 72px;
			}

			&.button{
				margin: 40px auto;
				width: 240px;
				

				a{
					font-family: 'Play', sans-serif;
					font-weight: bold;
					color: #fff;
					text-decoration: none;
					display: block;
					width: 240px;
					height: 50px;
					border: 2px solid #fff;
					line-height: 50px;
				}
			}
		}
	}

	#desenvolvimento-de-sites{
		@include zen-grid-item(10, 2);
		clear: both;
		margin-top: 100px;
	}

	.clientes{
		clear: both;
	}
}
